<html>
<head>
    <title>OAuth Login page</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        <form method="post" action="oauth-login" class="aui">
            <input type="hidden" name="actionType" value="new">
            <input type="submit" class="button" value="Login via Open Id connect">
        </form>
    </div>
</div>
</body>
</html>

